*{
   padding: 0;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    width: 700px;
 }

 body::-webkit-scrollbar{
    display: none;
 }

.header{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   box-shadow: 0px 0px 5px grey;
   background-color: rgb(238, 234, 180);
}
.header h2{
   font-size: 30px;
   color: red;
}

#logo{
   height: 70px;
   width: 70px;
   object-fit: contain;
}

.cards_container{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
   flex-wrap: wrap;
}

.cards_container::-webkit-scrollbar{
   display: none;
}

.card{
   padding: 25px;
   border: 2px solid white;
   color: white;
   background-color: black;
   margin: 10px;
   border-radius: 15px;
   box-shadow: 0px 0px 5px grey;
}

.content{
   display: flex;
   align-items: center;
   padding: 5px;
   flex-direction: column;
}

.Table{
   height: 450px;
   overflow-x: scroll;
   overflow-y: scroll;
   padding: 10px;
   box-shadow: 0px 0px 5px grey;
}



.Table::-webkit-scrollbar{
   display: none;
}


tr th , tr td{
   padding: 5px;
   border-radius: 5px;
   text-align: center;
   background-color: rgb(196, 193, 193);
}

.MapandSearch{
   flex: 0.5;
   
}
#Search{
   position: relative;
   top: 40px;
}

#Search select{
   padding: 5px;
   width: 240px;
}
#Search button{
   padding: 5px;
   background-color: blue;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
#Search button:hover{
   background-color: black;
}

#map {
   margin: 50px auto;
   width: 90vw;
   height: 445px;
   border-radius: 10px;
   box-shadow: 0px 0px 5px grey;
}


.popups{
   background-color: black;
   color: rgb(214, 210, 210);
   padding: 10px;
   font-size: 12px !important;
   border-radius: 10px;
}

